# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# =========================
# Flask
# =========================
instance/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store

# =========================
# Testing
# =========================
.pytest_cache/